.container {
	min-height: calc(100vh - 80px);
}

.main {
	padding: 1rem 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	min-height: calc(100vh - 80px);
	color: white;
	background-color: #001220;
	background: -webkit-linear-gradient(
		30deg,
		rgba(2, 0, 36, 1) 44%,
		rgba(9, 14, 121, 1) 55%,
		rgba(28, 34, 177, 1) 62%,
		rgba(198, 35, 104, 1) 81%,
		rgba(227, 76, 103, 1) 88%,
		rgba(250, 114, 104, 1) 95%
	);
}

.section {
	width: 90%;
	margin: 100px 80px;
}

.title {
	margin-bottom: 2rem;
	line-height: 1.15;
	font-size: 3rem;
}

.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: none;
}

.section_container {
	display: flex;
	flex-direction: column;
}

.contactlist {
	margin-top: 2rem;
	line-height: 1.15;
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.909);
}

.contactlist li {
	margin-bottom: 0.5rem;
}

.contact {
	margin: 1rem 0;
	line-height: 1.5;
	font-size: 1rem;
}

.contact a {
	text-decoration: none;
	font-style: normal;
}

.contact a:hover,
.contact a:focus,
.contact a:active {
	color: #0070f3;
	border-color: #0070f3;
}
@media screen and (max-width: 375px) {
	.section {
		width: 90%;
		margin: 0px 0 50px 20px;
	}

	.main {
		padding: 4rem 0;
	}
	.contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 0 2rem 0;
	}
}
